/* css내 함수 사용 / var 변수 이용 */
:root {
  --main-width: 250px;
  /* 특정 레이아웃 지정 시에 활용 (ex: 위치 고정 이후 밀어내기) */
  --main-color: rgba(0, 0, 0, 0.45);
  /* 특정 브랜드의 메인 테마 색상 등 활용 */
}
header {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  /* 어차피 고정되어 있기 때문에, 100vh와 동일함. */
  width: var(--main-width);
  background-image: url(./assets/background.jpg);
  /* background-position: center; */
  background-size: cover;
  background-blend-mode: color;
  /* padding: 20px; */
  text-align: center;
  align-items: center;
  color: white;
}
header nav {
  /* background-color: cyan; */
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 12px;
  text-decoration: underline;
  padding-bottom: 30px;
  flex-basis: 200px;
}
header h1 {
  /* background-color: coral; */
  padding-top: 20px;
  padding-bottom: 5px;
  /* padding-inline: 10px; */
  /* 밑줄 대신 테두리로 활용할 경우, 길이 조정을 위한 내부 padding값 변경 */
  font-size: 4rem;
  font-weight: bold;
  border-bottom: 1px solid white;
}
main {
  padding: 10px;
  padding-left: calc(var(--main-width) + 10px);

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
  padding: 20px; */
  text-align: center;
}
main h2 {
  /* background-color: rebeccapurple; */
  font-size: 3rem;
  font-weight: bold;
  /* margin-bottom: 20px; */
  /* align-self: flex-start; */
  text-align: left;
}
main img {
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
  margin-bottom: 10px;
}
main p {
  text-align: left;
}
