* {
  text-decoration: none;
}
.main {
  height: 100vh;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}
#page1 {
  background-color: rgba(126, 78, 123, 0.808);
  color: white;
}
#page2 {
  background-color: rgb(224, 101, 132);
  color: white;
}
#page3 {
  background-color: rgb(178, 156, 238);
  color: white;
}
#page1,
#page2,
#page3 {
  justify-content: center;
}
h2 {
  font-size: larger;
  font-weight: bolder;
  height: 24px;
  padding: 5px;
}
.container {
  display: flex;
  padding-right: 1rem;
  padding-top: 10px;
  text-decoration: none;
}
#nav {
  width: 100vw;
  height: 50px;
  background: white;
  /* border: 1px gray solid; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  /* padding: 1rem; */
}
.blank {
  flex: 3;
}
.logo {
  font-size: 30px;
  font-weight: bolder;
  position: fixed;
  left: 15px;
  top: 15px;
  text-shadow: 0px 0px 4px gray;
}

.nav1 {
  position: fixed;
  right: 180px;
  top: 25px;
}

.nav2 {
  position: fixed;
  right: 100px;
  top: 25px;
}

.nav3 {
  position: fixed;
  right: 20px;
  top: 25px;
}

#top {
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: black;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
