<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Test Page</h2>
    현재 날짜 : <span th:text="${#calendars.format(date, 'yyyy-MM-dd (E) HH:mm:ss')}"/>
    <br>
    잔액 : <span th:text="${#numbers.formatInteger(money, 1, 'COMMA')}"/>원
    <hr>
    <!--<ul>
        <li th:text="${member[0].name}"/>
        <li th:text="${member[0].email}"/>
        <li th:text="${member[0].age}"/>
    </ul>-->
    <!-- 반복문 -->
    <table style="border-collapse:collapse; padding:10px;">
        <tr>
            <th style="border-bottom:1px solid grey;">이름</th>
            <th style="border-bottom:1px solid grey;">이메일</th>
            <th style="border-bottom:1px solid grey;">나이</th>
        </tr>
        <tr th:each="vo : ${member}">
            <!-- member를 vo라는 객체에 담는다 -->
            <td th:text="${vo.name}"></td>
            <td th:text="${vo.email}"></td>
            <td th:text="${vo.age}"></td>
        </tr>
    </table>

</body>
</html>